<!--<div class="flexer card-color col-md-12 col-sm-12 col-lg-12">-->
<!--  <div class="col-md-10">-->
<!--    <p class="policy-text">Phydigi © 2021</p>-->
<!--  </div>-->
<!--  <div class="policy-text">-->
<!--    <a class="col-md-2 footer-link" href="#">Privacy Policy</a>-->
<!--  </div>-->
<!--  <div class="policy-text">-->
<!--    <a class="col-md-1 footer-link" href="#">Terms</a>-->
<!--  </div>-->
<!--</div>-->
<footer class="flexer card-color">
  <a class="footer-link" target="_blank" href="/assets/policy/Terms%20of%20Service_09022021.pdf">Terms</a>
  &nbsp;&nbsp;|&nbsp;&nbsp;
  <a class="footer-link" target="_blank" href="/assets/policy/Privacy%20Policy_09022021.pdf">Privacy Policy</a>
  <p class="policy-text">Phydigi © 2021</p>
</footer>
