.card-color{
  background-color: #f3f3f3;
  color: black;
}
.flexer{
  display: flex;
  flex-direction: row-reverse;
  height: 30px;
  font-size: 12px;
  width: 100%;
}
.footer-link{
  color: black;
  text-decoration: underline;
}
.policy-text{
  float: right!important;
}
