<div class="page-container">
  <header>
    <div class="header-container">
      <mat-toolbar class="col-sm-12 col-md-12 logo-header">
        <button mat-button class="menu-button" (click)="sidenav.toggle()">
          <mat-icon>{{ isMenuOpen ? 'menu_open' : 'menu' }}</mat-icon>
        </button>
        <div class="empty-div" *ngIf="!isMobile"></div>
        <svg xmlns="http://www.w3.org/2000/svg" *ngIf="!isMobile" width="92" height="32" viewBox="0 0 60 21">
          <defs>
            <style>
              .a,
              .d {
                fill: #fff;
              }
      
              .a {
                stroke: #707070;
              }
      
              .b {
                fill: url(#a);
              }
      
              .c {
                fill: url(#b);
              }
      
              .e {
                fill: #e21313;
              }
      
              .f {
                clip-path: url(#c);
              }
      
            </style>
            <linearGradient id="a" x1="0.5" x2="0.5" y2="1.132" gradientUnits="objectBoundingBox">
              <stop offset="0" stop-color="#3faca1" />
              <stop offset="0.443" stop-color="#2cc1af" />
              <stop offset="1" stop-color="#14635a" />
            </linearGradient>
            <linearGradient id="b" x1="0.5" x2="0.5" y2="1.356" gradientUnits="objectBoundingBox">
              <stop offset="0" stop-color="#0989cb" />
              <stop offset="0.395" stop-color="#2f96cb" />
              <stop offset="1" stop-color="#054566" />
            </linearGradient>
            <clipPath id="c">
              <rect class="a" width="9" height="13" transform="translate(54 65)" />
            </clipPath>
          </defs>
          <g transform="translate(-15 -62)">
            <rect class="b" width="60" height="21" rx="10.5" transform="translate(15 62)" />
            <path class="c"
              d="M10.5,0H30a0,0,0,0,1,0,0V21a0,0,0,0,1,0,0H10.5A10.5,10.5,0,0,1,0,10.5v0A10.5,10.5,0,0,1,10.5,0Z"
              transform="translate(15 62)" />
            <path class="d" d="M0,0H2.5V8H0Z" transform="translate(33 70)" />
            <path class="d" d="M6.314-3.849l5.909-7v15H10.009V-4.641L6.222-.212,2.673-4.625V2.129H.5V-10.848Z"
              transform="translate(37.504 75.848)" />
            <circle class="e" cx="2" cy="2" r="2" transform="translate(32 65)" />
            <g class="f" transform="translate(-2)">
              <path class="d"
                d="M-2453.5,13a6.507,6.507,0,0,1-6.5-6.5,6.507,6.507,0,0,1,6.5-6.5,6.507,6.507,0,0,1,6.5,6.5A6.507,6.507,0,0,1-2453.5,13Zm0-10.833a4.338,4.338,0,0,0-4.333,4.333,4.338,4.338,0,0,0,4.333,4.334,4.338,4.338,0,0,0,4.333-4.334A4.338,4.338,0,0,0-2453.5,2.166Z"
                transform="translate(2510 65)" />
            </g>
          </g>
        </svg>
        <svg xmlns="http://www.w3.org/2000/svg" *ngIf="isMobile" width="60" height="21" viewBox="0 0 60 21">
          <defs>
            <style>
              .a,
              .d {
                fill: #fff;
              }
      
              .a {
                stroke: #707070;
              }
      
              .b {
                fill: url(#a);
              }
      
              .c {
                fill: url(#b);
              }
      
              .e {
                fill: #e21313;
              }
      
              .f {
                clip-path: url(#c);
              }
      
            </style>
            <linearGradient id="a" x1="0.5" x2="0.5" y2="1.132" gradientUnits="objectBoundingBox">
              <stop offset="0" stop-color="#3faca1" />
              <stop offset="0.443" stop-color="#2cc1af" />
              <stop offset="1" stop-color="#14635a" />
            </linearGradient>
            <linearGradient id="b" x1="0.5" x2="0.5" y2="1.356" gradientUnits="objectBoundingBox">
              <stop offset="0" stop-color="#0989cb" />
              <stop offset="0.395" stop-color="#2f96cb" />
              <stop offset="1" stop-color="#054566" />
            </linearGradient>
            <clipPath id="c">
              <rect class="a" width="9" height="13" transform="translate(54 65)" />
            </clipPath>
          </defs>
          <g transform="translate(-15 -62)">
            <rect class="b" width="60" height="21" rx="10.5" transform="translate(15 62)" />
            <path class="c"
              d="M10.5,0H30a0,0,0,0,1,0,0V21a0,0,0,0,1,0,0H10.5A10.5,10.5,0,0,1,0,10.5v0A10.5,10.5,0,0,1,10.5,0Z"
              transform="translate(15 62)" />
            <path class="d" d="M0,0H2.5V8H0Z" transform="translate(33 70)" />
            <path class="d" d="M6.314-3.849l5.909-7v15H10.009V-4.641L6.222-.212,2.673-4.625V2.129H.5V-10.848Z"
              transform="translate(37.504 75.848)" />
            <circle class="e" cx="2" cy="2" r="2" transform="translate(32 65)" />
            <g class="f" transform="translate(-2)">
              <path class="d"
                d="M-2453.5,13a6.507,6.507,0,0,1-6.5-6.5,6.507,6.507,0,0,1,6.5-6.5,6.507,6.507,0,0,1,6.5,6.5A6.507,6.507,0,0,1-2453.5,13Zm0-10.833a4.338,4.338,0,0,0-4.333,4.333,4.338,4.338,0,0,0,4.333,4.334,4.338,4.338,0,0,0,4.333-4.334A4.338,4.338,0,0,0-2453.5,2.166Z"
                transform="translate(2510 65)" />
            </g>
          </g>
        </svg>
        &nbsp;&nbsp;<div class="vertical-ruler">&nbsp;&nbsp;</div>
        <div class="header-text">
          <div class="title-header">ItsMyPharma By PhyDigi</div>
          <div class="desc-header">Bringing your local pharmacy closer to you</div>
        </div>
      </mat-toolbar>
    </div>
  </header>

  <mat-toolbar class="custom-bg" *ngIf="showButton">
    <mat-toolbar-row [ngClass]="{'add-to-home-screen-mobile-devices': isMobile}">
      <img src="assets/icons/icon-72x72.png" alt="">
      <span class="separator">ItsMyPharma By PhyDigi</span>
      <button mat-raised-button color="accent" (click)="addToHomeScreen()">Add to home screen</button>
      <mat-icon (click)="showButton = false;">close</mat-icon>
    </mat-toolbar-row>
  </mat-toolbar>

  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav #sidenav autoFocus="false" mode="over" [(opened)]="isMenuOpen" class="sidenav" (click)="onSidenavClick()">
      <ng-container *ngFor="let item of sideMenuList">
        <a *ngIf="!item.inside" class="{{item.code}}-icon" mat-button [href]="item.routeTo" target="_blank">
          <mat-icon>{{item.icon}}</mat-icon>
          <span class="menu-title">{{item.name}}</span>
        </a>
        <a *ngIf="item.inside" class="{{item.code}}-icon" mat-button [routerLink]="item.routeTo">
          <mat-icon>{{item.icon}}</mat-icon>
          <span class="menu-title">{{item.name}}</span>
        </a>
      </ng-container>
    </mat-sidenav>
    <mat-sidenav-content>
      <main>
        <app-search></app-search>
        <router-outlet></router-outlet>
      </main>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
