@import '~ngx-owl-carousel-o/lib/styles/scss/owl.carousel';
@import '~ngx-owl-carousel-o/lib/styles/scss/owl.theme.default';
$desktop: 960px;
$tablet: 768px;
$mobile-large: 640px;
$mobile: 480px;
$mobile-small: 300px;
/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


/*mat-slider*/
.mat-accent .mat-slider-thumb, .mat-accent .mat-slider-thumb-label, .mat-accent .mat-slider-track-fill {
  background-color:   #53BFB4!important;
}

.mat-accent .mat-slider-thumb-label-text{
  color: #333333;
  font-family: Montserrat;
}

.mat-accent .mat-slider-thumb:hover, .mat-slider-thumb:focus{
  visibility: visible;
}

.mat-accent .mat-slider-thumb-label{
  background-color: rgba(0,0,0,0)!important;
}

.mat-slider:not(.mat-slider-diabled).cdk-focused.mat-slider-thumb-label-showing .mat-slider-thumb{
  transform: scale(0.5)!important;
}

owl-carousel-o{
  height: 100px!important;
}

.owl-carousel {
  width: 100% !important;
  box-shadow: 0 1px 3px 0 rgba(0,0,0,0.5);
  //margin: 10% auto;
}

.owl-carousel .owl-nav {
  overflow: hidden;
  height: 0;
}

.owl-carousel .nav-btn {
  height: 30px;
  position: absolute;
  width: 26px;
  cursor: pointer;
  top: 30% !important;
}

.owl-carousel .owl-prev.disabled,
.owl-carousel .owl-next.disabled {
  pointer-events: none;
  opacity: 0.2;
}

.owl-carousel .prev-slide {
  content: url("src/assets/images/chevron-prev.png");
  left: 0;
}

.owl-carousel .next-slide {
  content: url("src/assets/images/chevron-next.png");
  right: 0;
}

.owl-theme .owl-dots{
  z-index: 11!important;
  top: 85%!important;
  position: absolute;
  left: 47%;
  @media only screen and (max-width: $mobile){
    left: 40%;
  }
}
.owl-theme .owl-dots:hover{
  color: white!important;
}

.owl-theme .owl-nav{
  margin-top: 0!important;
}



//grid
.mat-grid-tile .mat-figure{
  justify-content: normal!important;
  top: 2%!important;
  left: 2%!important;
  font-family: Montserrat;
}
.details-container{
  margin-top: 5%;
  margin-left: 2%!important;
  color: #186696;
  text-align: left ;
  font-weight: revert;
  width: 50%;
  @media only screen and (max-width: $mobile){
    margin-top: 15%;
    width: 70%;
    position: absolute;
    top: 0;
    right: 0;
  }
}

.pharmacy-mobile-call {
  font-size: 12px;
  font-family: "Montserrat Regular";
  font-weight: lighter;
  color: black;
}
.call{
  font-size: 11px;
  font-weight: 700;
  color: black;
}
.pharmacy-mobile{
  font-size: 10px;
}
.pharmacy-image-container{
  top: 0;
  @media only screen and (max-width: $mobile) {
    height: 30px;
    top: 0;
    margin-top: 15%;
    position: absolute;
  }
}
.order-button-container{
  position: absolute;
  width: 80%;
  bottom: 0;
  margin-bottom: 3%;
  right: 0;
  margin-right: 3%;
  @media only screen and (max-width: $mobile) {
    width: 100%;
    position: relative;
    margin-top: 55%;
  }
}
.slide-mobile{
  @media only screen and (max-width: $mobile) {
    height: 120px;
    width: 150%;
  }
}
.display-txt{
  @media only screen and (max-width: $mobile) {
    display: none;
  }
}
.mat-progress-spinner circle, .mat-spinner circle{
  stroke: #53BFB4!important;
}
.mat-progress-spinner{
  //position: center!important;
}
.spinner{
  margin-left: 45%;
  @media only screen and (max-width: $mobile) {
    margin-left: 33%;
  }
}
.mat-paginator{
  background-color: rgba(0,0,0,0)!important;
  color: black!important;
}
.mat-paginator, .mat-paginator-page-size .mat-select-trigge{
  color: black!important;
}
.mat-paginator-page-size-label{
  display: none!important;
}
