$desktop: 960px;
$tablet: 768px;
$mobile-large: 640px;
$mobile: 480px;
$mobile-small: 300px;

//@media only screen and (max-width :  $desktop/$tablet/$mobile-large/$mobile/$mobile-small)

.card-color {
  background-color: rgb(248, 248, 248);
  border-radius: 0;
  color: black;
  height: 50%;
  @media only screen and (max-width: $mobile-large) {
    height: auto;
  }
}

.search-bar {
  height: 30%;
  @media only screen and (max-width: $mobile-large) {
    height: 32%;
  }
}

.flexer {
  display: flex;
  @media only screen and (max-width: $mobile) {
    display: block;
    .col-lg-4,.col-md-4,.col-sm-12{
      padding-right: 2px!important;
      padding-left: 2px!important;
    }
  }

}

.shadow {
  box-shadow: 0 0 6px 0 rgb(0, 0, 0) !important;
}

.right-separator {
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  @media only screen and (max-width: $mobile) {
    border-right: 1px solid rgba(0, 0, 0, 0.0);
  }
}

.mat-card {
  padding: 2px !important;
}

// input

.input-font {
  font-family: Montserrat;
  font-size: 13px;
  @media only screen and (max-width : $mobile-large) {
    height: 50px!important;
    padding: 0 5px 0 5px;
  }
}
.search{
  border:1px solid rgba(0,0,0,0.2);
  border-radius: 2px;
  width: 80%;
  height: 40%;
  @media only screen and (max-width : $mobile) {
    float: none;
    width: 95%;
    height: 80%;
  }
    float: right;
}
.input-field {
  font-weight: normal;
  width: 80%;
  margin-left: 2%;
  height: 100%;
  vertical-align: middle;
  text-align: left!important;
  //border: 1.5px solid rgba(0, 0, 0, 0.2);
  border: none;
  border-radius: 2px;
  font-size: 12px;
  background-color: rgba(0,0,0,0);
  @media only screen and (max-width : $mobile-large){
    width: 90%;
    justify-content: flex-end;
    font-weight: normal;
    //margin-bottom: 2%;
  }
}
.input-label {
  margin-top: 3%;
  font-size: 10px;
  margin-right: 4%;
  color: #333333;
  @media only screen and (max-width : $mobile-large) {
    font-size: 12px;
    font-weight: normal;
    margin-left: 2.5%;
    text-align: left;
    width: 100%;
  }
}
.search-icon{
  float: right;
  margin-right: 2%;
  margin-top: 1%;
  color: #3c3c3c;
  z-index: 999;
  height: 80%;
}
input:focus {
  outline: none !important;
}


//buttons

.card-button {
  font-family: Montserrat !important;
  text-align: center;
  @media only screen and (max-width : $mobile-large) {
    border-bottom: 1.2px solid rgba(0,0,0,0.1)!important;
    outline-offset: -2px;
    display: flex;
  }
}
.button-open {
  font-family: Montserrat !important;
  border-radius: 15px;
  border: 1.5px solid #D1D1D1;
  margin-top: 9.5%;
  width: 120px;
  background-color: white;
  line-height: 0!important;
  color: black;
  height: 30px;
  @media only screen and (max-width : $mobile-large) {
    margin-bottom: 5%;
    margin-left: 2%;
    margin-top: 7%;
    position: relative;
    width: 45%;
    height: 35px;
    font-size: 15px;
  }
}
.colorGrey{
  background-color: #4E4D5D;
  color: white;
}
.button-open:focus, .button-delivery:focus{
  outline: none;
}
.button-open:hover, .button-delivery:hover{

}
.button-delivery {
  font-family: Montserrat !important;
  border-radius: 15px;
  border: 1.3px solid rgb(193, 193, 193);
  margin-top: 5%;
  background-color: white;
  color: #4E4D5D;
  width: 120px;
  line-height: 0!important;
  margin-left: 30px;
  height: 30px;
  @media only screen and (max-width: $mobile-large){
    margin-bottom: 5%;
    margin-top: 7%;
    margin-left: 5%;
    position: relative;
    width: 45%;
    height: 35px;
    font-size: 15px;
  }
}
.colorGreyDelivery{
  background-color: #4E4D5D;
  color: white;
}
.tick-image {
  color: grey;
  height: 20%;
  width: 20%;
}

// Slider

.slider-top {
  margin-top: 2%;
  @media only screen and (max-width: $mobile-large){
    margin-top: 5%;
  }
}

.slider {
  width: 80%;
}

//footer
.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}


//grider

.grider {
  border-bottom: 3px solid rgba(0, 0, 0, 0.1) !important;
  height: 55px !important;
  top: 0;
  @media only screen and (max-width : $mobile-large){
    margin-bottom: 5%;
    height: 20px!important;
 }
}
.lister {
  padding-left: 50px;
  padding-right: 50px;
  @media only screen and (max-width: $mobile-large) {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
  }
}

.pharmacy-image {
  top: 1%;
  height: 120px;
  width: 120px;
  @media only screen and (max-width : $mobile-large){
    height: 60px;
    width: 60px;
    top: 0!important;
  }
}

.left-align{
  text-align: left;
}
.pharmacy-name{
  font-size: 16px;
  color: #186696!important;
  margin-bottom: 3%;
  font-family: "Montserrat Regular";
  font-weight: bold;
  @media only screen and (max-width: $mobile-large)  {
    margin-bottom: 1.3%;
  }
}
.pharmacy-address{
  font-size: 14px;
  margin-bottom: 4%;
  color: #333333;
  width: 100%;
  font-weight: 600;
  @media only screen and (max-width: $mobile-large) {
    margin-bottom: 1%;
  }
  }
.pharmacy-status{
  font-family: 'Montserrat Medium';
  font-size: 10px;
  color: #333333;
  width: 100%;
  @media only screen and (max-width : $mobile-large) {
    width: 100%;
  }
}
.order-button{
  border-radius: 25px;
  background-color: #53BFB4;
  color: white;
  border: #53BFB4;
  float: right;
  font-family: Montserrat;
  font-size: 12px!important;
  height: 35px;
  width: 35%;
  @media only screen and (max-width : $mobile-large){
    width: 100%;
    margin-top: 15%;
  }
  @media only screen and (max-width : $mobile) {
    width: 100%;
    margin-top: 30%;
  }
  }
.open-now{
  font-size: 10px;
  color: black;
  position: relative;
}
.delivery-available{
  font-size: 12px;
  font-family: "Montserrat Regular";
  color: #333333;
}
.result-counter{
  font-family: Montserrat;
  font-size: 10px;
  color:#777777;
  @media only screen and (max-width : $mobile-large) {
    position: relative;
    margin-top: 5%!important;
    left: 0;
  }
}

.no-results{
  text-align: center;
  color: #777777;
  font-size: 20px;
  font-weight: lighter;
  font-family: Montserrat;
}
.map-marker{
  position: absolute;
  top:18%;
  right:5%;
  @media only screen and (max-width :$mobile-large){
    top:30%;
    right: 55%;
    font-size: 7px;
  }
}
.map-distance{
  font-family: "Montserrat Medium";
  vertical-align: middle;
  color: #333333;
  @media only screen and (max-width :$mobile-large) {
    color: #333333;
    font-size: 12px;
  }
}
.map-marker-logo{
  @media only screen and (max-width :$mobile-large) {
    margin-top: 0;
    margin-bottom: 1%;
  }
  }
//.link-blue{
//  color: #186696!important;;
//}
.ui-grid, .ui-grid-viewport{
  @media only screen and (max-width: $mobile-large) {
    height: 20px!important;
  }
}
.link-blue{
  color: #ffffff !important;
  text-decoration: none;
}
