$desktop: 960px;
$tablet: 768px;
$mobile-large: 640px;
$mobile: 480px;
$mobile-small: 300px;

//@media only screen and (max-width :  $desktop/$tablet/$mobile-large/$mobile/$mobile-small)
.cardBox{
  background: transparent url('../../assets/images/rectangle_169.png') 0% 0% no-repeat padding-box;
  box-shadow: 0px 2px 4px #00000029;
}
.card-color {
  background: transparent url('../../assets/images/rectangle_169.png') 0% 0% no-repeat padding-box;
  box-shadow: 0px 2px 4px #00000029;
  opacity: 1;
  width: 100%;
  padding: 10px;
  height: 80%;
  @media only screen and (max-width: $mobile-large) {
    height: auto;
  }
}

.search-bar {
  //height: 30%;
  @media only screen and (max-width: $mobile-large) {
    height: 32%;
  }
}

.flexer {
  display: flex;
  @media only screen and (max-width: $mobile) {
    display: block;
    .col-lg-4,.col-md-4,.col-sm-12{
      padding-right: 2px!important;
      padding-left: 2px!important;
    }
  }

}

.shadow {
  box-shadow: 0 0 6px 0 rgb(0, 0, 0) !important;
}

.right-separator {
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  @media only screen and (max-width: $mobile) {
    border-right: 1px solid rgba(0, 0, 0, 0.0);
  }
}

.mat-card {
  padding: 10px !important;
}

// input

.input-font {
  font-family: Montserrat;
  font-size: 14px;
  @media only screen and (max-width : $mobile-large) {
    height: 50px!important;
    padding: 0 5px 0 5px;
  }
}
.search{
  border:1px solid #D1D1D1;
  border-radius: 2px;
  font-size: 14px;
  width: 80%;
  height: 40%;
  @media only screen and (max-width : $mobile) {
    float: none;
    width: 95%;
    height: 80%;
  }
    float: right;
}
.input-field {
  font-weight: normal;
  width: 90%;
  margin-left: 2%;
  height: 100%;
  padding: 15px;
  vertical-align: middle;
  text-align: left!important;
  //border: 1.5px solid rgba(0, 0, 0, 0.2);
  border: none;
  border-radius: 2px;
  font-size: 14px;
  background-color: rgba(0,0,0,0);
  @media only screen and (max-width : $mobile-large){
    width: 90%;
    justify-content: flex-end;
    font-weight: normal;
    //margin-bottom: 2%;
  }
}
.input-label {
  margin-top: 3%;
  font: normal normal medium 12px/16px Montserrat;
  color: #333333;
  text-align: left;
  opacity: 1;
  margin-right: 80px;
  letter-spacing: 0;
  @media only screen and (max-width : $mobile-large) {
    font-size: 12px;
    font-weight: normal;
    margin-left: 2.5%;
    text-align: left;
  }
}
.search-icon{
  float: right;
  margin-right: 2%;
  margin-top: 1%;
  color: #3c3c3c;
  z-index: 999;
  height: 80%;
}
input:focus {
  outline: none !important;
}


//buttons

.card-button {
  font-family: Montserrat !important;
  text-align: center;
  @media only screen and (max-width : $mobile-large) {
    border-bottom: 1.2px solid rgba(0,0,0,0.1)!important;
    outline-offset: -2px;
    display: flex;
  }
}
.button-open {
  font-family: Montserrat !important;
  border-radius: 15px;
  border: 1.5px solid #D1D1D1;
  margin-top: 9.5%;
  width: 120px;
  background-color: white;
  line-height: 0!important;
  color: black;
  height: 30px;
  @media only screen and (max-width : $mobile-large) {
    margin-bottom: 5%;
    margin-left: 2%;
    margin-top: 7%;
    position: relative;
    width: 45%;
    height: 35px;
    font-size: 15px;
  }
}
.colorGrey{
  background-color: #4E4D5D;
  color: white;
}
.button-open:focus, .button-delivery:focus{
  outline: none;
}
.button-open:hover, .button-delivery:hover{

}
.button-delivery {
  font-family: Montserrat !important;
  border-radius: 15px;
  border: 1.3px solid rgb(193, 193, 193);
  margin-top: 5%;
  background-color: white;
  color: #4E4D5D;
  width: 120px;
  line-height: 0!important;
  margin-left: 30px;
  height: 30px;
  @media only screen and (max-width: $mobile-large){
    margin-bottom: 5%;
    margin-top: 7%;
    margin-left: 5%;
    position: relative;
    width: 45%;
    height: 35px;
    font-size: 15px;
  }
}
.colorGreyDelivery{
  background-color: #4E4D5D;
  color: white;
}
.tick-image {
  color: grey;
  height: 20%;
  width: 20%;
}

// Slider

.slider-top {
  margin-top: 2%;
  @media only screen and (max-width: $mobile-large){
    margin-top: 5%;
  }
}

.slider {
  width: 90%;
}
.imageSize{
  width: 24px;
  height: 24px;
}

//footer
.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}


//grider

.grider {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1) !important;
  height: 55px !important;
  top: 0;
  @media only screen and (max-width : $mobile-large){
    margin-bottom: 5%;
    height: 20px!important;
 }
}
.lister {
  padding-left: 50px;
  padding-right: 50px;
  @media only screen and (max-width: $mobile-large) {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
  }
}

.pharmacy-image {
  top: 1%;
  height: 120px;
  width: 120px;
  @media only screen and (max-width : $mobile-large){
    height: 60px;
    width: 60px;
    top: 0!important;
  }
}

.left-align{
  text-align: left;
}
.pharmacy-name{
  font-size: 18px;
  color: #186696!important;
  margin-top: 5px;
  font-family: "Montserrat Regular";
  font-weight: bold;
  @media only screen and (max-width: $mobile-large)  {
    margin-bottom: 1.3%;
  }
}
.pharmacy-address{
  font-size: 14px;
  color: #333333;
  width: 100%;
  margin-top: 5px;
  font-weight: 600;
  @media only screen and (max-width: $mobile-large) {
    margin-bottom: 1%;
  }
  }
.pharmacy-status{
  font-size: 14px;
  color: #333333;
  width: 100%;
  @media only screen and (max-width : $mobile-large) {
    width: 100%;
  }
}
.order-button{
  border-radius: 25px;
  background-color: #53BFB4;
  color: white;
  border: #53BFB4;
  float: right;
  font-size: 12px!important;
  height: 35px;
  width: 35%;
  @media only screen and (max-width : $mobile-large){
    width: 100%;
  }
  @media only screen and (max-width : $mobile) {
    width: 100%;

  }
  }
.open-now{
  font-size: 10px;
  color: black;
  position: relative;
}
.delivery-available{
  font-size: 14px;
  font-family: "Montserrat Regular";
  color: #333333;
}
.result-counter{
  font-size: 14px;
  color:#777777;
  opacity: 1;
  @media only screen and (max-width : $mobile-large) {
    position: relative;
    margin-top: 5%!important;
    left: 0;
  }
}

.no-results{
  text-align: center;
  color: #777777;
  font-size: 20px;
  font-weight: lighter;
  font-family: Montserrat;
}
.map-marker{
  position: absolute;
  top:18%;
  right:5%;
  @media only screen and (max-width :$mobile-large){
    top:30%;
    right: 55%;
    font-size: 7px;
  }
}
.map-distance{
  font-family: "Montserrat Medium";
  vertical-align: middle;
  color: #333333;
  @media only screen and (max-width :$mobile-large) {
    color: #333333;
    font-size: 12px;
  }
}
.map-marker-logo{
  @media only screen and (max-width :$mobile-large) {
    margin-top: 0;
    margin-bottom: 1%;
  }
  }
//.link-blue{
//  color: #186696!important;;
//}
.ui-grid, .ui-grid-viewport{
  @media only screen and (max-width: $mobile-large) {
    height: 20px!important;
  }
}
.link-blue{
  color: #ffffff !important;
  text-decoration: none;
}
// card color added
.cardColor{
  background-color: #F8F8F8;
  padding: 10px;
}
.myContent-left .col-md-4 {
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  @media only screen and (max-width :$mobile-large) {
    border-right-width: 0px;
  }
}
.myContent-left .col-md-4:nth-last-child(1) {
  border-right-width: 0;
}
.dot {
  background-image: url('../../assets/images/dashed_slider.png');
}
.imgReSize{
  //margin-right: 40px;
  //margin-left: 40px;
}
.fullContainer .col-md-6{
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding: 30px 30px;
  @media only screen and (max-width :$mobile-large) {
    padding: 30px 10px;
  }
}
.fullContainer .col-md-6:nth-child(odd){
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  @media only screen and (max-width :$mobile-large) {
    border-right: 0px;
  }
}

