<div class="search-bar" align="center">
  <div class="card-color flexer mat-card col-sm-12 col-md-12 col-lg-12">
    <div class="col-sm-12 col-md-4 col-lg-4 right-separator input-font">
      <label class="input-label" for="search">Search your Local Pharmacy & Order Ahead</label>
      <div class="search">
      <input type="text" [(ngModel)]="searchValue" (input)="searchTimer($event.target.value)" id="search" class="input-field"
             placeholder="Search by Pharmacy,city, PIN code or area">
        <i class="search-icon fa fa-search"></i>
      </div>
    </div>
    <div class="col-sm-12 col-md-4 col-lg-4 right-separator card-button">
      <button class="mat-flat-button btn-primary button-open {{color? 'colorGrey' : ''}}" (click)="onClickOpen()" ><i class="{{color? 'fa fa-check' : ''}}"></i>Open</button>
      <button class="mat-flat-button button-delivery {{deliColor? 'colorGreyDelivery' : ''}}" (click)="onClickDelivery()"><i class="{{deliColor? 'fa fa-check' : ''}}"></i> Delivery</button>
    </div>
    <div class="col-sm-12 col-md-4 col-lg-4 slider-top">
      <img src="/assets/images/Icon%20feather-home.png">
      <mat-slider [(ngModel)]="km" (valueChange)="searchTimer(searchValue)" [displayWith]="formatLabel" class="slider" thumbLabel min="0" max="7" step="1" value="3"></mat-slider>
      <img src="/assets/images/pharmacy.png">
    </div>
  </div>
</div>
<app-loader *ngIf="loading"></app-loader>
<div class="lister" *ngIf="filteredPharmacies.length > 0 && !loading">
  <p class="result-counter" *ngIf="filteredPharmacies != null">About {{filteredPharmacies.length}} results (Near {{km}}km)</p>
  <mat-grid-list [cols]="cols" [rowHeight]="rows" class="lister">
    <mat-grid-tile class="grider" *ngFor="let pharmacy of filteredPharmacies;let i = index">

      <div class="pharmacy-image-container">
        <img class="pharmacy-image" [src]="img">
      </div>

      <div class="map-marker">
        <p class="map-distance map-marker-logo"><img src="/assets/images/location.png" height="13" width="9c">  {{pharmacy[3] | number : '1.0-2'}}km</p>
      </div>

      <div class="details-container" *ngFor="let pharmacyDetails of pharmacy.slice(0,1)">
        <div>{{getImageFromService(pharmacyDetails.imageLogoId)}}</div>
        <h3 class="pharmacy-name"><a href='https://dev.phydigi.com/{{pharmacyDetails.storeNumber}}/store'>{{pharmacyDetails.registeredPharmacyName}}</a></h3>
        <h5 class="pharmacy-address">{{pharmacyDetails.addressLine1}}</h5>
        <h5 class="pharmacy-status">{{pharmacyDetails.isOpen ? 'Closes at' : 'Opens at'}} {{pharmacyDetails.isOpen ? tConvert(pharmacyDetails.closeHour) : tConvert(pharmacyDetails.startHour)}}</h5>
        <h6 class="delivery-available"><img src="/assets/images/greentick.png" height="7.5px" width="11px">
          {{pharmacyDetails.deliveryAvailable == 'Y' ? 'Delivery Available' : 'Pick-up Only'}}
         &nbsp;&nbsp;|&nbsp;&nbsp;
          <img src="{{pharmacyDetails.isOpen ? '/assets/images/greentick.png' : 'assets/images/wrong.png' }}" height="8px" width="9px">
          {{pharmacyDetails.isOpen ? "Opened" : "Closed"}}</h6><br>
        <h5 class="pharmacy-mobile-call"><b class="call">Call: </b>{{pharmacy[1]}}</h5>
      </div>

      <div class="order-button-container">
        <button class="mat-button order-button">Order Ahead</button>
      </div>
    </mat-grid-tile>
  </mat-grid-list>
  <mat-paginator #paginator
                 [length]="length"
                 [pageIndex]="pageIndex[1]"
                 [pageSize]="pageSize"
                 [pageSizeOptions]="[5, 10, 25, 100]"
                 (page)="pageEvent = OnPageChange($event)">
  </mat-paginator>
</div><br><br>
<div *ngIf="filteredPharmacies.length == 0 && !loading">
    <h1 class="no-results">No Results !</h1>
</div>
<div class="footer">
  <app-footer></app-footer>
</div>
