$desktop: 960px;
$tablet: 768px;
$mobile-large: 640px;
$mobile: 480px;
$mobile-small: 300px;

//@media only screen and (max-width :  $desktop/$tablet/$mobile-large/$mobile/$mobile-small)
.cardBox {
  background: transparent url('../../assets/images/rectangle_169.png') 0% 0% no-repeat padding-box;
  box-shadow: 0px 2px 4px #00000029;
}

.card-color {
  background: transparent url('../../assets/images/rectangle_169.png') 0% 0% no-repeat padding-box;
  box-shadow: 0px 2px 4px #00000029;
  opacity: 1;
  width: 100%;
  padding: 10px;
  height: 80%;
  @media only screen and (max-width: $mobile-large) {
    height: auto;
  }
}

.search-bar {
  //height: 30%;
  @media only screen and (max-width: $mobile-large) {
    height: 32%;
  }
}

.flexer {
  display: flex;
  @media only screen and (max-width: $mobile) {
    display: block;
    .col-lg-4, .col-md-4, .col-sm-12 {
      padding-right: 2px !important;
      padding-left: 2px !important;
    }
  }

}

.shadow {
  box-shadow: 0 0 6px 0 rgb(0, 0, 0) !important;
}

.right-separator {
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  @media only screen and (max-width: $mobile) {
    border-right: 1px solid rgba(0, 0, 0, 0.0);
  }
}

.mat-card {
  padding: 10px !important;
}

// input

.input-font {
  font-family: Montserrat;
  font-size: 14px;
  @media only screen and (max-width: $mobile-large) {
    height: 50px !important;
    padding: 0 5px 0 5px;
  }
}

.search {
  border: 1px solid #D1D1D1;
  border-radius: 2px;
  font-size: 14px;
  width: 80%;
  height: 40%;
  @media only screen and (max-width: $mobile) {
    float: none;
    width: 95%;
    height: 80%;
  }
  float: right;
}

.input-field {
  font-weight: normal;
  width: 90%;
  margin-left: 2%;
  height: 100%;
  padding: 15px;
  vertical-align: middle;
  text-align: left !important;
  //border: 1.5px solid rgba(0, 0, 0, 0.2);
  border: none;
  border-radius: 2px;
  font-size: 14px;
  background-color: rgba(0, 0, 0, 0);
  @media only screen and (max-width: $mobile-large) {
    width: 90%;
    justify-content: flex-end;
    font-weight: normal;
    //margin-bottom: 2%;
  }
}

.input-label {
  font: normal normal medium 12px/16px Montserrat;
  color: #333333;
  text-align: left;
  opacity: 0.7;
  letter-spacing: 0;
  @media only screen and (max-width: $mobile-large) {
    font-size: 12px;
    font-weight: normal;
    margin-left: 2.5%;
    text-align: left;
  }
}

.search-icon {
  float: right;
  margin-right: 2%;
  margin-top: 1%;
  color: #3c3c3c;
  z-index: 999;
  height: 80%;
}

input:focus {
  outline: none !important;
}


//buttons

.card-button {
  font-family: Montserrat !important;
  text-align: center;
  @media only screen and (max-width: $mobile-large) {
    border-bottom: 1.2px solid rgba(0, 0, 0, 0.1) !important;
    outline-offset: -2px;
    display: flex;
  }
}

.colorGrey {
  background-color: #4E4D5D;
  color: white;
}

.button-open {
  width: 150px;
  line-height: 0 !important;
  height: 35px;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  border: 1.3px solid rgb(193, 193, 193);
  border-radius: 25px;
  text-align: center;
  font: normal normal medium 14px/18px Montserrat !important;
  letter-spacing: 0px;
  color: #333333;
  opacity: 1;

  @media only screen and (max-width: $mobile-large) {
    margin-bottom: 3%;
    margin-left: -3px;
    //margin-top: 7%;
    position: relative;
    width: 45%;
    height: 35px;
    font-size: 15px;
  }
}

.button-open:active{
  outline: none !important;
}

.button-open:focus {
  outline: none;
}


//
//.button-open:hover, .button-delivery:hover {
//
//}

//.button-delivery {
//  font: normal normal medium 14px/18px Montserrat !important;
//  border-radius: 25px;
//  border: 1.3px solid rgb(193, 193, 193);
//  //margin-top: 5%;
//  background-color: white;
//  color: #333333;
//  width: 150px;
//  line-height: 0 !important;
//  margin-left: 30px;
//  height: 35px;
//  @media only screen and (max-width: $mobile-large) {
//    margin-bottom: 3%;
//    //margin-top: 7%;
//    margin-right: 0;
//    position: relative;
//    width: 45%;
//    height: 35px;
//    font-size: 15px;
//  }
//}

.colorGreyDelivery {
  background-color: #4E4D5D;
  color: white;
}

.tick-image {
  color: grey;
  height: 20%;
  width: 20%;
}

// Slider

.slider-top {
  //margin-top: 2%;
  @media only screen and (max-width: $mobile-large) {
    margin-top: unset;
  }
}

.slider {
  width: 100%;
  .cardColor[_ngcontent-waf-c2] .col[_ngcontent-waf-c2], .cardColor[_ngcontent-waf-c2] .col-1[_ngcontent-waf-c2], .cardColor[_ngcontent-waf-c2] .col-10[_ngcontent-waf-c2], .cardColor[_ngcontent-waf-c2] .col-11[_ngcontent-waf-c2], .cardColor[_ngcontent-waf-c2] .col-12[_ngcontent-waf-c2], .cardColor[_ngcontent-waf-c2] .col-2[_ngcontent-waf-c2], .cardColor[_ngcontent-waf-c2] .col-3[_ngcontent-waf-c2], .cardColor[_ngcontent-waf-c2] .col-4[_ngcontent-waf-c2], .cardColor[_ngcontent-waf-c2] .col-5[_ngcontent-waf-c2], .cardColor[_ngcontent-waf-c2] .col-6[_ngcontent-waf-c2], .cardColor[_ngcontent-waf-c2] .col-7[_ngcontent-waf-c2], .cardColor[_ngcontent-waf-c2] .col-8[_ngcontent-waf-c2], .cardColor[_ngcontent-waf-c2] .col-9[_ngcontent-waf-c2], .cardColor[_ngcontent-waf-c2] .col-auto[_ngcontent-waf-c2], .cardColor[_ngcontent-waf-c2] .col-lg[_ngcontent-waf-c2], .cardColor[_ngcontent-waf-c2] .col-lg-1[_ngcontent-waf-c2], .cardColor[_ngcontent-waf-c2] .col-lg-10[_ngcontent-waf-c2], .cardColor[_ngcontent-waf-c2] .col-lg-11[_ngcontent-waf-c2], .cardColor[_ngcontent-waf-c2] .col-lg-12[_ngcontent-waf-c2], .cardColor[_ngcontent-waf-c2] .col-lg-2[_ngcontent-waf-c2], .cardColor[_ngcontent-waf-c2] .col-lg-3[_ngcontent-waf-c2], .cardColor[_ngcontent-waf-c2] .col-lg-4[_ngcontent-waf-c2], .cardColor[_ngcontent-waf-c2] .col-lg-5[_ngcontent-waf-c2], .cardColor[_ngcontent-waf-c2] .col-lg-6[_ngcontent-waf-c2], .cardColor[_ngcontent-waf-c2] .col-lg-7[_ngcontent-waf-c2], .cardColor[_ngcontent-waf-c2] .col-lg-8[_ngcontent-waf-c2], .cardColor[_ngcontent-waf-c2] .col-lg-9[_ngcontent-waf-c2], .cardColor[_ngcontent-waf-c2] .col-lg-auto[_ngcontent-waf-c2], .cardColor[_ngcontent-waf-c2] .col-md[_ngcontent-waf-c2], .cardColor[_ngcontent-waf-c2] .col-md-1[_ngcontent-waf-c2], .cardColor[_ngcontent-waf-c2] .col-md-10[_ngcontent-waf-c2], .cardColor[_ngcontent-waf-c2] .col-md-11[_ngcontent-waf-c2], .cardColor[_ngcontent-waf-c2] .col-md-12[_ngcontent-waf-c2], .cardColor[_ngcontent-waf-c2] .col-md-2[_ngcontent-waf-c2], .cardColor[_ngcontent-waf-c2] .col-md-3[_ngcontent-waf-c2], .cardColor[_ngcontent-waf-c2] .col-md-4[_ngcontent-waf-c2], .cardColor[_ngcontent-waf-c2] .col-md-5[_ngcontent-waf-c2], .cardColor[_ngcontent-waf-c2] .col-md-6[_ngcontent-waf-c2], .cardColor[_ngcontent-waf-c2] .col-md-7[_ngcontent-waf-c2], .cardColor[_ngcontent-waf-c2] .col-md-8[_ngcontent-waf-c2], .cardColor[_ngcontent-waf-c2] .col-md-9[_ngcontent-waf-c2], .cardColor[_ngcontent-waf-c2] .col-md-auto[_ngcontent-waf-c2], .cardColor[_ngcontent-waf-c2] .col-sm[_ngcontent-waf-c2], .cardColor[_ngcontent-waf-c2] .col-sm-1[_ngcontent-waf-c2], .cardColor[_ngcontent-waf-c2] .col-sm-10[_ngcontent-waf-c2], .cardColor[_ngcontent-waf-c2] .col-sm-11[_ngcontent-waf-c2], .cardColor[_ngcontent-waf-c2] .col-sm-12[_ngcontent-waf-c2], .cardColor[_ngcontent-waf-c2] .col-sm-2[_ngcontent-waf-c2], .cardColor[_ngcontent-waf-c2] .col-sm-3[_ngcontent-waf-c2], .cardColor[_ngcontent-waf-c2] .col-sm-4[_ngcontent-waf-c2], .cardColor[_ngcontent-waf-c2] .col-sm-5[_ngcontent-waf-c2], .cardColor[_ngcontent-waf-c2] .col-sm-6[_ngcontent-waf-c2], .cardColor[_ngcontent-waf-c2] .col-sm-7[_ngcontent-waf-c2], .cardColor[_ngcontent-waf-c2] .col-sm-8[_ngcontent-waf-c2], .cardColor[_ngcontent-waf-c2] .col-sm-9[_ngcontent-waf-c2], .cardColor[_ngcontent-waf-c2] .col-sm-auto[_ngcontent-waf-c2], .cardColor[_ngcontent-waf-c2] .col-xl[_ngcontent-waf-c2], .cardColor[_ngcontent-waf-c2] .col-xl-1[_ngcontent-waf-c2], .cardColor[_ngcontent-waf-c2] .col-xl-10[_ngcontent-waf-c2], .cardColor[_ngcontent-waf-c2] .col-xl-11[_ngcontent-waf-c2], .cardColor[_ngcontent-waf-c2] .col-xl-12[_ngcontent-waf-c2], .cardColor[_ngcontent-waf-c2] .col-xl-2[_ngcontent-waf-c2], .cardColor[_ngcontent-waf-c2] .col-xl-3[_ngcontent-waf-c2], .cardColor[_ngcontent-waf-c2] .col-xl-4[_ngcontent-waf-c2], .cardColor[_ngcontent-waf-c2] .col-xl-5[_ngcontent-waf-c2], .cardColor[_ngcontent-waf-c2] .col-xl-6[_ngcontent-waf-c2], .cardColor[_ngcontent-waf-c2] .col-xl-7[_ngcontent-waf-c2], .cardColor[_ngcontent-waf-c2] .col-xl-8[_ngcontent-waf-c2], .cardColor[_ngcontent-waf-c2] .col-xl-9[_ngcontent-waf-c2], .cardColor[_ngcontent-waf-c2] .col-xl-auto[_ngcontent-waf-c2]{
    padding-right: 0 !important;
    padding-left: 0!important;
  }
}

.imageSize {
  width: 24px;
  height: 24px;
  margin-bottom: 2px;
}

//footer
.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}


//grider

.grider {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1) !important;
  height: 55px !important;
  top: 0;
  @media only screen and (max-width: $mobile-large) {
    margin-bottom: 5%;
    height: 20px !important;
  }
}

.lister {
  padding-left: 50px;
  padding-right: 50px;
  @media only screen and (max-width: $mobile-large) {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
  }
}

.pharmacy-image {
  top: 1%;
  height: 120px;
  width: 120px;
  @media only screen and (max-width: $mobile-large) {
    height: 60px;
    width: 60px;
    top: 0 !important;
  }
}

.left-align {
  text-align: left;
}

.pharmacy-name {
  letter-spacing: 0px;
  opacity: 1;
  text-align: left;
  font: normal normal 600 18px/22px Montserrat;
  color: #186696;
  margin-top: 5px;
  //font-weight: se;
  @media only screen and (max-width: $mobile-large) {
    margin-bottom: 1.3%;
  }
}

.pharmacy-address {
  color: #333333;
  width: 100%;
  font: normal normal 500 14px/18px Montserrat;
  margin-top: 5px;
  //text-overflow: ellipsis;
  //white-space: nowrap;
  //overflow: hidden;
  height: auto;
  @media only screen and (max-width: $mobile-large) {
    font: normal normal medium 14px/18px Montserrat!important;
    margin-bottom: 1%;
    text-overflow: unset;
    white-space: unset;
    overflow: unset;
  }
  @media only screen and (min-width: $mobile-large){
    height: 35px;
    overflow: hidden;
  }
}

.pharmacy-status {
  font: normal normal 500 12px/16px Montserrat !important;
  letter-spacing: 0px;
  color: #333333;
  opacity: 1;
  @media only screen and (max-width: $mobile-large) {
    width: 100%;
    font: normal normal 500 12px/16px Montserrat !important;
  }
}

.order-button {
  border-radius: 20px;
  background: #53BFB4 0% 0% no-repeat padding-box;
  opacity: 1;
  color: white;
  border: #53BFB4;
  float: right !important;
  font-size: 14.5px !important;
  font-weight: 600 !important;
  font-family: Montserrat;
  height: 40px;
  width: 152px;
  @media only screen and (max-width: $mobile-large) {
    width: 100% !important;
  }
  @media only screen and (max-width: $mobile) {
    width: 100% !important;

  }
}

.order-button:focus {
  outline: none;
}

.order-button:hover {
  background: #51b3a9;
}

.open-now {
  font-size: 10px;
  color: black;
  position: relative;
}

.delivery-available {
  text-align: left;
  font: normal normal normal 12px/15px Montserrat;
  letter-spacing: 0px;
  color: #333333;
  opacity: 1;
}

.redColor {
  color: #F5365D;
}

.result-counter {
  font-size: 14px;
  color: #777777;
  opacity: 1;
  @media only screen and (max-width: $mobile-large) {
    margin-top: 5% !important;
    left: 0;
  }
}

.no-results {
  text-align: center;
  color: #777777;
  font-size: 18px;
  font-weight: 400;
  font-family: Montserrat;
}

.map-marker {
  position: absolute;
  top: 18%;
  right: 5%;
  @media only screen and (max-width: $mobile-large) {
    top: 30%;
    right: 55%;
    font-size: 7px;
  }
}

.map-distance {
  font: normal normal medium 14px/18px Montserrat!important;
  font-family: Montserrat medium, serif !important;
  vertical-align: middle;
  color: #333333;
  @media only screen and (max-width: $mobile-large) {
    color: #333333;
    font-size: 12px;
  }
  @media only screen and (min-width: 1140px) {
    padding-left: 21px!important;
  }
}

.map-marker-logo {
  @media only screen and (max-width: $mobile-large) {
    margin-top: 0;
    margin-bottom: 1%;
  }
}

.ui-grid, .ui-grid-viewport {
  @media only screen and (max-width: $mobile-large) {
    height: 20px !important;
  }
}

.link-blue {
  color: #ffffff !important;
  text-decoration: none;
  width: 100%;
  float: right !important;
  @media only screen and (max-width: $mobile-large) {
    width: 100% !important;
  }
  @media only screen and (max-width: $mobile) {
    width: 100% !important;

  }
}

// card color added
.cardColor {
  background-color: #F8F8F8;
  //padding: 0 10px;
  .col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
    padding-right: 10px !important;
    //padding-left: 10px !important;
  }
}

.myContent-left .col-md-4 {
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  @media only screen and (max-width: $mobile-large) {
    border-right-width: 0px;
    padding-left: 10px !important;
  }
}

.myContent-left .col-md-4:nth-last-child(1) {
  border-right-width: 0;
}

.dot {
  background-image: url('../../assets/images/dashed_slider.png');
}

.imgReSize {
  //margin-right: 40px;
  //margin-left: 40px;
}

.fullContainer .col-md-6 {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding: 30px 30px;
  @media only screen and (max-width: $mobile-large) {
    padding: 30px 10px;
  }
}

.fullContainer .col-md-6:nth-child(odd) {
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  @media only screen and (max-width: $mobile-large) {
    border-right: 0px;
  }
}

//***********
.search-label {
  font-family: Montserrat !important;
  letter-spacing: 0px;
  color: #333333;
  font-weight: 500;
  font-size: 14px;
  opacity: 1;
}

.search-result-count {
  font: normal normal medium 12px/16px Montserrat !important;
  letter-spacing: 0px;
  color: #777777;
  font-size: 14px;
  opacity: 1;
  margin-left: 30px;
  @media only screen and (max-width: $mobile-large) {
    margin-left: 10px;
  }
}

.search-placeholder {
  border: 1px solid #D1D1D1!important;
  border-right: none!important;
  border-radius: 0px;
  text-align: left;
  font: normal normal normal 13px/18px Montserrat;
  @media only screen and (max-width: $mobile-large) {
    font: normal normal normal 13px/16px Montserrat;
  }
    letter-spacing: 0px;
  color: #777777;
  opacity: 1;
}

.form-control:focus {
  box-shadow: none;
}

.label-slider-home {
  color: #333333;
  font: normal normal medium 9px/10px Montserrat !important;
  font-weight: 500;
  font-size: 10px;
  margin-left: -4px;
  @media only screen and (max-width: $mobile-large) {
    margin-right: -4px;
  }
  @media only screen and (max-width: 375px) {
    margin-left: -4px;
  }
}

.label-slider-pharmacy {
  color: #333333;
  font: normal normal medium 9px/10px Montserrat !important;
  font-weight: 500;
  font-size: 10px;
  margin-left: -10px;
  @media only screen and (max-width: $mobile-large) {
    margin-left: -14px;
  }
}

.label-slider-pharmacy-span {
  margin-left: 20%;
  margin-right: 5%;
  @media only screen and (max-width: $mobile-large) {
    margin-right: 0px;
  }
}

.label-filter {
  top: 2%;
  margin-top: 3%;
  font: normal normal medium 9px/10px Montserrat !important;
  font-size: 14px;
  font-weight: 500;
  text-align: center !important;
  @media only screen and (max-width: $mobile-large) {
    margin-top: 0!important;
  }
}

.label-setDistance{
  top: 2%;
  margin-top: 3%;
  font: normal normal medium 9px/10px Montserrat !important;
  font-size: 14px;
  font-weight: 500;
  text-align: center !important;
  margin-bottom: 0!important;
  @media only screen and (max-width: $mobile-large) {
    margin-top: 1%!important;
  }
  }
.text-setDistance{
  vertical-align: middle;
}

.slider-padding {
  padding: 0 15px 0;
  margin-bottom: 5px;
  @media only screen and (max-width: $mobile) {
    //margin-bottom: 15px;
  }
}

.slider-icon-row{
  @media only screen and (min-width: $desktop) {
    margin-bottom: 15px;
  }
}

.space-hider {
  @media only screen and (max-width: $mobile-large) {
    display: none;
  }
}
.home{
  padding-right: 0;
}
.slider-home-icon-label{
  @media only screen and (min-width: $desktop) {
    margin-left: 28px;
  }  @media only screen and (max-width: $mobile) {
    margin-left: 10px;
  }
}
.pharmacy{
  padding-left: 0;
}
.slide-home-icon{
  padding-right: 0!important;
  margin-top: 1.2rem!important;
  //padding-left: 0!important;
  @media only screen and (max-width: $mobile) {
    padding-left: 0px;
  }
}
.input-group-text{
  border: 1px solid #D1D1D1!important;
  border-left: none!important;
  border-radius: 0!important;
}

.icon-filter{
  color: #186696!important;
}

.label-filter{
  .a{
    fill: none;
    stroke: #186696;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 1.5px;
  }
}
hr{
  margin-top: 0;
  margin-bottom: 0;
}
