$desktop: 960px;
$tablet: 768px;
$mobile-large: 640px;
$mobile: 480px;
$mobile-small: 300px;
.left{
  left: 0!important;
  top: 50%;
}
.carousel-content{
  width: 50%;
  z-index: 11;
  position: absolute;
  top: 10%;
  left: 10%;
  opacity: 0.85;
  font-family: Montserrat;
  @media only screen and (max-width : $mobile-large) {
    width: 65%;
    margin-left: 2%;
  }
  }
.carousel-content h3{
  font-weight: bold;
}
.carousel-content h5{
  color: white;
  font-size: 16px;
}
.carousel-content h6{
  color: white;
  font-size: 13px;
  text-decoration: underline;
}
.hide-mobile{
  @media only screen and (max-width : $mobile-large){
    visibility: hidden;
  }
}

.font-mobile{
  @media only screen and (max-width : $mobile-large) {
    color: black!important;
  }
}
.more-mobile{
  @media only screen and (max-width : $mobile-large) {
    z-index: 10;
    position: absolute;
    top:38%;
  }
}
