<owl-carousel-o [options]="customOptions">
  <ng-template carouselSlide>
    <img class="slide-mobile" src="/assets/images/eye2.png">
    <div class="carousel-content">
    <h3 class="display-txt">LOREM IPSUM</h3>
    <h5>Lorem Ipsum is simply dummy text of the printing <span class="hide-mobile">and typesetting industry. Lorem Ipsum has
      been the industry's standard dummy text ever since the 1500s, when an unknown.</span></h5>
      <h6><a>Know More</a></h6>
    </div>
  </ng-template>
  <ng-template carouselSlide>
    <img class="slide-mobile" src="/assets/images/eye2.png">
    <div class="carousel-content">
      <h3 class="display-txt">LOREM IPSUM</h3>
      <h5>Lorem Ipsum is simply dummy text of the printing <span class="hide-mobile">and typesetting industry. Lorem Ipsum has
      been the industry's standard dummy text ever since the 1500s, when an unknown.</span></h5>
      <h6><a>Know More</a></h6>
    </div>
  </ng-template>
  <ng-template carouselSlide>
    <img class="slide-mobile" src="/assets/images/eye2.png">
    <div class="carousel-content">
      <h3 class="display-txt">LOREM IPSUM</h3>
      <h5>Lorem Ipsum is simply dummy text of the printing <span class="hide-mobile">and typesetting industry. Lorem Ipsum has
      been the industry's standard dummy text ever since the 1500s, when an unknown.</span></h5>
      <h6><a>Know More</a></h6>
    </div>
  </ng-template>
</owl-carousel-o>
